body {
	font-family: verdana;
	margin-left: 100px;
	margin-right: 100px;
}
h4{
	margin-left: 150px;
}

h3{
	margin-left: 125px;
}

#preguntas>h3{
	margin-top: 30px;
}

p{
	margin-left: 150px;
}
u {
	color: olive;
}
h1 {
	color: lightblue;
}